{
  "swagger": "2.0",
  "info": {
    "description": "API for serving kerbside assets. Data is served in CurbLR format https://github.com/sharedstreets/curblr",
    "version": "1.0.0",
    "title": "Kerbside Curblr Api",
    "contact": {
      "name": "Ford Kerbspace",
      "url": "https://www.fordkerbhack.com",
      "email": "tbd@ford.com"
    }
  },
  "host": "fordkerbhack.azure-api.net",
  "basePath": "/",
  "tags": [
    {
      "name": "features-controller",
      "description": "Features Controller"
    }
  ],
  "paths": {
    "/features": {
      "get": {
        "tags": [
          "features-controller"
        ],
        "summary": "getFeaturesByViewport",
        "operationId": "getFeaturesByViewportUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "viewport",
            "in": "query",
            "description": "viewport - a bounding box specified by two coordinates. First coordinate is bottom left second is top right. For example 51.31159579347505,-0.43013610839850003,51.73880216751415,0.25513610839837497",
            "required": false,
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurbLR"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {
    "Authority": {
      "type": "object",
      "required": [
        "name",
        "phone",
        "url"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "CurbLR": {
      "type": "object",
      "required": [
        "features",
        "manifest",
        "type"
      ],
      "properties": {
        "features": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Feature"
          }
        },
        "manifest": {
          "$ref": "#/definitions/Manifest"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Feature": {
      "type": "object",
      "required": [
        "geometry",
        "properties",
        "type"
      ],
      "properties": {
        "geometry": {
          "$ref": "#/definitions/Geometry"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Geometry": {
      "type": "object",
      "properties": {
        "coordinates": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Manifest": {
      "type": "object",
      "required": [
        "authority",
        "createdDate",
        "currency",
        "timeZone",
        "unitHeightLength",
        "unitWeight"
      ],
      "properties": {
        "authority": {
          "$ref": "#/definitions/Authority"
        },
        "createdDate": {
          "type": "string",
          "format": "date"
        },
        "currency": {
          "type": "string"
        },
        "lastUpdatedDate": {
          "type": "string",
          "format": "date"
        },
        "timeZone": {
          "type": "string"
        },
        "unitHeightLength": {
          "type": "string"
        },
        "unitWeight": {
          "type": "string"
        }
      }
    }
  }
}